<launch>
  <!-- URDF 路径参数 -->
  <arg name="urdf_file" default="/home/wr/localization_dateset/xw/xw.urdf"/>

  <!-- 把 urdf 加载到 robot_description -->
  <param name="robot_description" textfile="$(arg urdf_file)"/>

  <!-- 根据 URDF 发布 TF：base_link/base_footprint -> 各传感器 -->
  <node name="robot_state_publisher"
        pkg="robot_state_publisher"
        type="robot_state_publisher"
        output="screen">
  </node>

  <node pkg="localization_ndt"
        type="ndt_localizer_node"
        name="ndt_localizer"
        output="screen">

    <param name="map_pcd_path" value="/home/wr/localization_alg/relocalization/xw.pcd"/>
    <param name="scan_topic"   value="/Y991B020189BC0018/scan"/>
    <param name="odom_topic"   value="/Y991B020189BC0018/odom/wheel"/>
    <param name="imu_topic"    value="/Y991B020189BC0018/imu"/>
    <param name="base_frame_id" value="base_footprint"/>
    <!-- 可选：NDT 参数 -->
    <param name="ndt_resolution"        value="1.0"/>
    <param name="ndt_num_threads"       value="4"/>
    <param name="ndt_max_fitness_score" value="2.0"/>
  </node>
</launch>
